/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html attributes */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
nav a {
    margin-right: 15px;
}
nav a:last-child {
    margin-right: 0;
}