@media screen and (max-width: 415px) {
    header {
        justify-content: center;
    }
    header h1 {
        font-size: 20px;
    }
    nav {
        display: none;
    }
    h3 {
        text-align: center;
    }
    footer p {
        font-size: 10px;
    }
    .typer-style {
        width: 100%;
        margin-top: 60%;
    }
    .typer-style h1 {
        font-size: 20px;
        text-align: center;
    }
    .container {
        padding: 50px 50px;
    }
    .job {
        text-align: left;
        font-size: 16px;
    }
    .project {
        width: 300px;
        min-width: 300px;
    }
    .skills {
        flex-direction: column;
        align-items: center;
    }
    .skills p {
        font-size: 15px;
    }
    .skill {
        margin-bottom: 10px;
        font-size: 15px;
    }
    #back-top {
        display: none;
    }
}

@media screen and (max-width: 321px) {
    .container {
        padding: 50px 25px;
    }
    footer p {
        font-size: 8px;
    }
    .project {
        width: 250px;
        min-width: 250px;
    }
}