@media screen and (max-width: 668px) {
    body {
        background-size: 300%;
        background-position: center;
    }
    header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    header h1 {
        font-size: 20px;
    }
    nav {
        display: none;
    }
    h3 {
        text-align: center;
    }
    footer p {
        font-size: 10px;
    }
    .typer-style h1 {
        font-size: 20px;
        text-align: center;
    }
    .container {
        padding: 50px 50px;
    }
    .job {
        text-align: left;
        font-size: 16px;
    }
    .skills {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .skills p {
        font-size: 15px;
    }
    .skill {
        margin-bottom: 10px;
        font-size: 15px;
    }
    #back-top {
        display: none;
    }
}

@media screen and (max-width: 321px) {
    .container {
        padding: 50px 25px;
    }
    p {
        font-size: 15px;
    }
    footer p {
        font-size: 8px;
    }
}