@media screen and (max-width: 668px) {
    body {
        background-size: 300%;
        background-position: center;
    }
    header {
        justify-content: center;
    }
    header h1 {
        font-size: 20px;
    }
    nav {
        display: none;
    }
    h3 {
        text-align: center;
    }
    footer p {
        font-size: 10px;
    }
    .typer-style {
        width: 100%;
        margin-top: 60%;
    }
    .typer-style h1 {
        font-size: 20px;
        text-align: center;
    }
    .container {
        padding: 50px 50px;
    }
    .job {
        text-align: left;
        font-size: 16px;
    }
    .skills {
        flex-direction: column;
        align-items: center;
    }
    .skills p {
        font-size: 15px;
    }
    .skill {
        margin-bottom: 10px;
        font-size: 15px;
    }
    #back-top {
        display: none;
    }
}

@media screen and (max-width: 321px) {
    .container {
        padding: 50px 25px;
    }
    p {
        font-size: 15px;
    }
    footer p {
        font-size: 8px;
    }
}