@media screen and (max-width: 1114px) {
    .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .typer-style {
        width: 100%;
    }
    .typer-style h1 {
        font-size: 40px;
    }
    #contact .flex {
        margin-top: 10px;
    }
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 1061px) {
    .typer-style {
        width: 100%;
    }
}