/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html attributes */
body {
    font-family: 'Potta One', cursive;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: white;
    background-image: url("../images/background/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    color: white;
}
header h1 {
    font-size: 40px;
}
nav {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
}
nav a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    vertical-align: top;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}
nav a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid #98cbf8;
    transition: .3s ease-in-out;
}
nav a:last-child {
    margin-right: 0;
    border-bottom: none;
}
h2 {
    font-size: 30px;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
h3, h4 {
    margin: 15px 0;
}
h3 {
    font-size: 25px;
}
footer {
    padding: 5px 10px;
}
footer p {
    font-size: 13px;
}
footer div {
    text-align: right;
}
footer div i {
    margin-right: 15px;
}
footer div i:last-child {
    margin-right: 0;
}
li {
    font-family: "Montserrat", sans-serif;
    text-indent: 50px;
    list-style-type: none;
}
/* classes */
.typer-style {
    font-family: 'Courier New', Courier, monospace;
    width: 70%;
    font-size: 30px;
    color: white;
    background-color: rgba(152,203,248);
    margin-top: 15%;
}
.container {
    padding: 50px 150px;
}
.progress {
    height: 10px;
    border: 2px solid white;
}
.progress-bar {
    height: 100%;
    background-color: white;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex div:not(.progress-bar,.project) {
    min-width: 40%;
    margin-bottom: 20px;
}
.job {
    font-weight: bold;
}
.structure {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.project {
    border: 3px solid white;
    border-radius: 15px;
    width: 40%;
    padding: 0;
    min-width: 45%;
    padding-bottom: 10px;
}
.project-container {
    padding: 10px 20px;
}
.project-description {
    font-size: 15px;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.skills p {
    font-family: 'Lexend Mega', sans-serif;
}
.skill {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(153, 203, 254, .85);
}
.project-image {
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    background-size: cover;
    background-position: center;
}
.flex-projects div {
    margin-bottom: 15px;
}
.flex-projects div:last-child {
    margin-bottom: 0;
}
/* id */
#home {
    height: 70vh;
}
#presentation {
    background-color: rgba(152,203,248,.85);
}
#back-top {
    background-color: #98cbf8;
    padding: 10px 15px;
    border-radius: 100%;
    border: 3px solid white;
    position: fixed;
    bottom: 20px;
    right: 30px;
}
#html {
    width: 80%;
}
#css {
    width: 80%;
}
#js {
    width: 70%;
}
#ts {
    width: 70%;
}
#node {
    width: 75%;
}
#php {
    width: 80%;
}
#jquery {
    width: 40%;
}
#cpp {
    width: 60%;
}
#java {
    width: 65%;
}
#mssql {
    width: 90%;
}
#mysql {
    width: 85%;
}
#vs {
    width: 70%;
}
#jetbrains {
    width: 90%;
}
#office {
    width: 90%;
}
#google {
    width: 90%;
}
#psd {
    width: 70%;
}
#xd {
    width: 80%;
}
#windows {
    width: 80%;
}
#macos {
    width: 60%;
}
#linux {
    width: 70%;
}
#git {
    width: 80%;
}
#github {
    width: 90%;
}
#library {
    background-image: url("../images/projects/old-books-436498_1920.jpg");
}
#pokemon {
    background-image: url("../images/projects/eevee-5475337_1920.jpg");
}
#combava {
    background-image: url("../images/projects/lemon-2539163_1920.jpg");
}
#space-invaders {
    background-image: url("../images/projects/technology-3189176_1920.jpg");
}
#covoit {
    background-image: url("../images/projects/taxi-1999009_1920.jpg");
}
#tsxdoc {
    background-image: url("../images/projects/medical-563427_1920.jpg");
}
#loud-esport {
    background-image: url("../images/projects/lOUD ESPORT.png");
}
#formula-loud {
    background-image: url("../images/projects/formula-loud.png");
    background-size: 300%;
}
#techgames {
    background-image: url("../images/projects/techgames.jpg");
}
#contact {
    background-color: rgba(152,203,248,.85);
}