/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html attributes */
body {
    font-family: 'Potta One', cursive;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
nav a:last-child {
    margin-right: 0;
}
/* classes */
.typer-style {
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
}