@media screen and (max-width: 1114px) {
    .flex {
        flex-direction: column;
    }
    .typer-style {
        margin-top: 20%;
    }
    .typer-style h1 {
        font-size: 40px;
    }
    #contact .flex {
        margin-top: 10px;
    }
    .project {
         width: 100%;
    }
}